<script src="http://tablesorter.com/__jquery.tablesorter.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://tablesorter.com/docs/css/jq.css">
<link rel="stylesheet" type="text/css" href="http://tablesorter.com/themes/blue/style.css">

<h1>Indexed files</h1>
<button type="button" id="merge">Get nosepokes</button>
<script>
	$('#merge').click(function (){
		var filenames = new Array();
		$('#files tr').filter(':has(:checkbox:checked)').each(
          		function() {
				filenames.push(this.getAttribute('id'));
				//console.log(this.getAttribute('id'));
      		});
		console.log(filenames.join());
		window.open("show?files="+filenames.join());
	});
</script>

<table id="files" class="tablesorter">
	<thead>
		<tr>
			<th width="70">Select</th>
			<th>File Name</th>
			<th width="70">Cage</th>
			<th>Start</th>
			<th>End</th>
			<th>Experiment</th>
			<th>Mice</th>
		</tr>
	</thead>
	<tbody>
		<% @indexedFiles.each do |file| %>
		<tr id="<%= file.name %>">
			<td><input type="checkbox"/></td>
			<td><%= file.name %></td>
			<td><%= file.cage %></td>
			<td><%= file.starttime %></td>
			<td><%= file.endtime %></td>
			<td><%= file.experiment %></td>
			<td><% file.mice.each do |mouse| %>
				<%= mouse %>, 
			<% end %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<script type="text/javascript">
$(document).ready(function() 
    { 
         $("#files").tablesorter( {sortList: [[3,1]]} );
    } 
); 
</script>
